/build

src/release/service-account-key.json
src/release/google-services.json

src/debug/service-account-key.json
src/debug/google-services.json

src/qa/service-account-key.json
src/qa/google-services.json

src/google-services.json

